* {
    box-sizing: border-box;
    font-family: monospace;
    border: 0;
    padding: 0;
}

body {
display: flex;
height: 100vh;
justify-content: space-evenly;
align-items: center;
text-align: center;
flex-direction: column;
} 

.hide {
    display: none;
}

#question-container * {
margin: 3%;
}


/* .button_grid {

}

.btn {

}*/

